<h1><%= @concern.title %></h1>

<small><%= @concern.votes_for.size %> up-ricks</small> | 
<small>Submitted <%= time_ago_in_words(@concern.created_at) %> ago</small>

<br/>
<h3>Comments</h3>

<div id="comment-form">
<%= form_for [@concern, Comment.new] do |f| %>
<%= f.text_area :body, placeholder: "Add a comment" %><br/>
<%= f.submit "Comment" %>
<% end %>
</div>

<ul id="concern-comment-chain">
  <%= render(partial: 'comments/comment', collection: @concern.comments) %>
</ul>

<script>
  $(".comment-reply").click(function(){
    var $slide = $(this.parentNode.children[2]);

    if ($slide.is(':visible')) {
        $slide.slideUp();
        // Other stuff to do on slideUp
    } else {
        $(".comment-form").slideUp();
        $slide.slideDown();
        // Other stuff to down on slideDown
    }
  });
</script>